# Maven
**/target/
.mvn/timing.properties

# Surefire
**/.surefire-*

# Eclipse
**/.classpath
**/.project
**/.settings

# NetBeans
**/nbproject

# Release
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
